[Unit]
Description=PulseAudio system server
# DO NOT ADD ConditionUser=!root
After=graphical.target
Requires=graphical.target

[Service]
Type=notify
ExecStart=/usr/bin/pulseaudio --daemonize=no --system --realtime --log-target=journal
Restart=on-failure


[Install]
WantedBy=graphical.target
