[Unit]
Description=Robud Time of Flight Sensor Service
After=graphical.target
Requires=robud.robud_logging.robud_logger.service

[Service]
Environment=PYTHONPATH=/home/robud
Type=simple
WorkingDirectory=/home/robud/
User=robud
ExecStart=/usr/bin/python3 /home/robud/robud/sensors/time-of-flight.py -o '/home/robud/robud/logs/time-of-flight_log_'
Restart=on-failure

[Install]
WantedBy=graphical.target

