[Unit]
Description=Robud Questions Service
After=graphical.target
Requires=robud.robud_logging.robud_logger.service

[Service]
Environment=PYTHONPATH=/home/robud
Type=simple
WorkingDirectory=/home/robud/
User=robud
ExecStart=/usr/bin/python3 /home/robud/robud/robud_questions/robud_questions.py
Restart=on-failure

[Install]
WantedBy=graphical.target