[Unit]
Description=Robud Audio Service
After=pulseaudio.service

[Service]
CPUSchedulingPolicy=fifo #set to realtime scheduling for audio stream capture/playback
CPUSchedulingPriority=20
Environment=PYTHONPATH=/home/robud
Type=simple
WorkingDirectory=/home/robud/
User=robud
ExecStart=/usr/bin/python3 /home/robud/robud/robud_audio/robud_audio.py
Restart=on-failure

[Install]
WantedBy=graphical.target

